    <section class="border-bottom" style="padding-top: 100px; padding-bottom: 50px"> <!--CSS-->
        <div class="container">  
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body" style="text-align: center">	<!--Info Angaben-->
                            <h5 class="card-title">Kontakt</h5>
                            <p class="card-text"> Chiara Bartolomeo & Samir Limani</p>
                            <p class="card-text">+41 76 230 24 61</p><p class="card-text">samir.limani@stud.fhgr.ch</p>
                            <p class="card-text">Liechtenstein & Malans</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
        
        
    </body>
</html>