<html>
	<head>
		<title>
		Online Barber <!--Tab Titel-->
		</title>

		<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> <!--Bootstrap-->

	</head>

	<body>

		 <nav class="navbar navbar-dark navbar-expand-lg fixed-top text-light bg-dark portfolio-navbar gradient" style="height: 70px;opacity: 0.90;">	<!--Navigationsbar-->
            <h1 style="font-size: 20px;">Online Barber</h1> <!--Titel Navigationsbar-->
        </nav>
        
        
        <section class="border-bottom" style="padding-top: 230px; padding-bottom: 150px">	<!--CSS-->
            <div class="container">
                <div class="text-center">
                    <h1>Willkommen beim<strong>&nbsp;Online Barber!</strong>&nbsp;Wir bieten euch den besten Haarschnitt in der Region. Jetzt Termin vereinbaren!</h1> <!--Text (Titel) -->
                </div>
            </div>
        </section>
        
        

		
		<section class="border-bottom" style="padding-bottom: 150px">	<!--CSS-->
            <div class="container">
                
                
                
                
                <div class="text-center" style="padding-top: 120px; padding-bottom: 70px">	<!--CSS-->
                    <h2>Jetzt Termin vereinbaren</h2> <!--Titel für Input-Formular-->
                </div>
                <form method="POST" action="#"> <!--Eingaben werden auf Server geladen mit Post-->
                    <div class="form-group">	<!--CSS-->
                        <label for="subject">Dienstleistungen</label>  <!--Untertitel für Input-->      
                            <select class="form-control" id="subject" required name="field1"> <!--CSS, name "field1" wird benötigt, um auf die Daten per Flask zuzugreifen-->
                                <option value selected>Wähle aus der Liste</option> <!--Drop down-->
                                <option value="1">Haare</option> <!--Auswahlmöglichkeit-->
                                <option value="2">Bart</option>	<!--Auswahlmöglichkeit-->
                                <option value="3">Haare &amp; Bart</option>	<!--Auswahlmöglichkeit-->
                        </select>
                    </div>

                    <div class="form-group"> <!--wie bereits oben beschrieben-->
                        <label for="email">Vor- und Nachname</label>
                            <input type="text" class="form-control" id="subject" required name="field2" />
                    </div>

                    <div class="form-group">
                        <label for="email">Mobiltelefon</label>
                            <input type="text" class="form-control" required name="field3" />
                    </div> 

                    <div class="form-group">
                        <label for="message">Nachricht</label>
                            <input type="text" class="form-control" id="message" placeholder="Spezialwünsche?" name="field4"/>

                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="date">Datum</label>
                                    <input class="form-control" type="date" required
                                    placeholer ="dd.mm.yyyy" id="datetime" name="field5" />
                            </div>

                            <div class="col-md-6">
                                <label for="time-date">Uhrzeit</label>
                                    <input class="form-control" id="date" type="time" required placeholder="--:--" name="field6" />
                            </div>

                            <div class="col-md-6 offset-md-3 offset-lg-3 offset-xl-3 button">
                                <button class="btn btn-primary btn-block" type="submit" name="submit" style="margin-top: 60px;">Senden	<!--Senden-Button-->
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
                
        </div>
    </section>

    <section class="border-bottom" style="padding-top: 100px; padding-bottom: 50px"> <!--CSS-->
        <div class="container">  
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <div class="card-body" style="text-align: center">	<!--Info Angaben-->
                            <h5 class="card-title">Kontakt</h5>
                            <p class="card-text"> Chiara Bartolomeo & Samir Limani</p>
                            <p class="card-text">+41 76 230 24 61</p><p class="card-text">samir.limani@stud.fhgr.ch</p>
                            <p class="card-text">Liechtenstein & Maienfeld</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
        
        
    </body>
</html>
