{% include "head.html" %} <!--Flask fügt hier den entsprechenden Header ein-->
    



        <section class="border-bottom" style="padding-top: 150px; padding-bottom: 75px">	<!--CSS (1. Linie)-->
            <div class="container">
                <div class="text-center">
                    <h1>Willkommen beim<strong>&nbsp;Online Barber!</strong>&nbsp;Wir bieten euch den besten Haarschnitt in der Region. Jetzt Termin vereinbaren!</h1> <!--Text (Titel) -->
                </div>
            </div>
        </section>
        
        

		
		<section class="border-bottom" style="padding-bottom: 40px">	<!--CSS (2. Linie)-->
            <div class="container"> <!-- CSS -->             
                
                <div class="text-center" style="padding-top: 60px; padding-bottom: 60px">	<!--CSS-->
                    <h2>Jetzt Termin vereinbaren</h2> <!--Titel für Input-Formular-->
                </div>

                <h4>Persönliche Angaben</h4>	<!--Überschrift für das Formular-->

                <form method="POST" action="/"> <!--Formular wird hier erstellt. Eingaben werden auf Server geladen mit POST (nach Klick auf "Senden-Button")-->
                    <div class="form-group">	<!--Aufhübschung des Inputs mittels CSS-->
                        <label for="subject">Dienstleistungen</label>  <!--Übertitel für Input-->      
                            <select class="form-control" id="subject" required name="field1"> <!-- Erstellung Input; name "field1" wird benötigt, um auf die Daten per Flask zuzugreifen (required = zwingende Eingabe)-->
                                <option value selected>Wähle aus der Liste</option> <!--Drop down Menü-->
                                <option value="Haare">Haare</option> <!--Auswahlmöglichkeit-->
                                <option value="Bart">Bart</option>	<!--Auswahlmöglichkeit-->
                                <option value="Haare &amp; Bart">Haare &amp; Bart</option>	<!--Auswahlmöglichkeit, &amp verwendet um Zeichen anzuzeigen-->
                        </select>
                    </div>

                    <div class="form-group"> <!--Aufhübschung des Inputs mittels CSS-->
                        <label for="email">Vor- und Nachname</label> <!--Übertitel für Input-->
                            <input type="text" class="form-control" id="subject" placeholder="Vor- und Nachname eingeben" required name="field2" />		<!--Erstellung des Inputs; field2 wird benötigt, um auf die Daten per Flask zuzugreifen (required = zwingende Eingabe)-->
                    </div>

                    <div class="form-group">
                        <label for="email">Mobiltelefon</label>
                            <input type="text" class="form-control" placeholder="Telefonnummer eingeben" required name="field3" />
                    </div> 

                    <div class="form-group">
                        <label for="email">Alter</label>
                            <input type="text" class="form-control" id="alter" placeholder="Alter eingeben?" required name="field4"/>

                    </div>


                            <div class="col-md-6 offset-md-3 offset-lg-3 offset-xl-3 button"> <!--Aufhübschung des Buttons Senden mittels CSS-->
                                <button class="btn btn-primary btn-block" type="submit" name="submit" style="margin-top: 20px;">Senden	<!--Erstellung Senden-Button-->
                                </button>
                            </div>
                       
            </form> <!--"Endtag für unser Input-Formular"-->
                
        </div> 
    </section> <!--Section "Abteilung" wird geschlossen-->

{% include "footer.html" %} <!--Flask fügt hier den entsprechenden Footer ein-->