{% include "header.html" %}

	<body>
	<main>
		<div class="header" id="myHeader">
      <a class="typ" href="https://www.clipart.email/download/4671603.html" title="Image from clipart.email"><img src="https://cdn.clipart.email/5cc9e3aebc4b091c1717df233555c253_409-hair-salon-free-clipart-3_960-960.png" width="80" alt="Men Hair Salon Clipart" /></a> <!--https://www.clipart.email/download/4671603.html-->
      <p><h3> Ihr online Reservierungstool für den Coiffeurbesuch </h3></p>
    </div>
		<div class="box">
			<div class="button">
			<a href="{{ url_for('anmelden') }}"><button type="button" name="button" class="btn btn-primary">Hier online Termin buchen!</button></a>

		</div>
		</div>
	</main>
		
{% include "footer.html" %}