{% include "head.html" %} <!--Flask fügt hier den entsprechenden Header ein-->
           
        

		
		<section class="border-bottom" style="padding-top: 100px; padding-bottom: 50px">	<!--CSS-->
            <div class="container">
                
                
                
                <div class="text-center" style="padding-top: 60px; padding-bottom: 60px">	<!--CSS-->
                    
                    <h2>Jetzt Termin vereinbaren</h2> <!--Titel für Input-Formular-->
                </div>
                <form method="POST" action="#"> <!--Eingaben werden auf Server geladen mit Post-->

                    <h3>Termin wählen</h3>  <!--Überschrift-->

                    


                    <h5>Öffnungszeiten:</h5>  <!--Überschrift-->
                    <p>Mo-Sa von 09:00-19:00 Uhr</p> <!--Text-->
                    <p></p>
                    <h5>Reservierungszeiten:</h5> <!--Überschrift-->
                    <p>Mo-Sa von 09:00 bis 18:30 Uhr im <strong>Halbstundentakt</strong></p> <!--Text-->
                    
                    

                        <div class="form-group">
                                <label for="email"> Ihr Wunschtermin eingeben:</label> <!--Übertitel Input-Feld-->
                                    <input type="datetime-local" class="form-control" name="field5"
                                    min="09:00" max="19:00">    <!--Input-Feld-->

                        </div>



                            <div class="col-md-6 offset-md-3 offset-lg-3 offset-xl-3 button"> <!--CSS-->
                                <button class="btn btn-primary btn-block" type="submit" name="submit" style="margin-top: 20px;">Senden	<!--Senden-Button-->
                                </button>
                            </div>
                            
                    </div>
                    <br>

                    <div class="container">   <!--CSS-->
                      
                      <button type="button" class="btn btn-secondary btn-sm btn-block" data-toggle="collapse" data-target="#demo">Hier bereits vergebene Termine einsehen!</button> <!--Button-->
                      <div id="demo" class="collapse">  <!--CSS (Zusammenziehen bei Klick)-->
                        <table class="table"> <!--CSS (Tabelle)-->
                                      <thead>
                                        <tr>
                                          <th scope="col" style="text-align: center;">Vergebene Termine:</th> <!--Überschrift -->
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for termin in reservierungen %}    <!--For-Schleife, damit alle Termine in Zeile 60 aufgelistet werden-->
                                            <tr>
                                              <td style="text-align: center;">{{termin}}</td> <!--Auflistung aller Termine von json-Datei-->
                                            </tr>
                                        {% endfor %} <!--Ende der Schleife-->
                                      </tbody>
                                    </table>
                      </div>
                    </div>
                    
                       
            </form>
                
        </div>
    </section>

{% include "footer.html" %} <!--Flask fügt hier den entsprechenden Footer ein-->